.Main
  .Group-name
    .Left
      %p.Left__title
        = @group.name
      %ul.Left__member-list
        %span 
          Member :
        %li
          - @group.users.each do |user|
            = user.name
    .Right
      = link_to "Edit", edit_group_path(@group), class: "Right__link"
  .Chat-space
    = render @messages  
  .Input
    = form_with model: [@group, @message], class: "Form", local: true do |f|
      .Form__contents
        = f.text_field :content, class: "Form__inputContent", placeholder: "type a message"
        = f.label :image, class: "Form__inputImage" do
          = icon('far', 'image', class: "Form__icon")
          = f.file_field :image, class: "Hidden"
      = f.submit 'Send', class: "Form__submit"