.Side-bar
  .User-name
    .Name-box
      %p.Name-box__user
        = current_user.name
      .Name-box__logos
        = link_to new_group_path do
          %icon.far.fa-edit.Name-box__logos--icon
        = link_to edit_user_path(current_user.id) do
          %icon.fas.fa-cog.Name-box__logos--icon
  .List
    - current_user.groups.each do |group|
      .Contents
        = link_to '#', class: "Contents__link" do
          .Contents__group-name
            = group.name
          .Contents__message
            メッセージはまだありません
        